/*********************/
/* Global Form Style */
/*********************/
form.form-global {
    background: #eee;
    border-radius: 2px;
    padding: 15px;
    margin: 40px 0;
    box-shadow: 0px 0px 2px 0px #000;
    .divider {
        height: 3px;
        width: 100%;
        background: #d8d8d8;
    }
    label {
        color: #3c3d41;
        margin-bottom: 0;
        span {
            color: #f00;
            margin-left: .1rem;
        }
    }
    .form-group {
        margin-bottom: .6rem;
    }
    input {
        height: 50px;
        font-size: 1.5rem;
        border-color: none;
        color: #3c3d41;
        background-color: #fff;
        transition: 100ms ease;
    }
    button {
        font-weight: bold;
        font-size: 1.3rem;
        margin-top: 1.7rem;
        background: #66D510;
        box-shadow: 0px 2px 4px -2px #444;
        color: #fff;
        transition: 250ms;
        padding: 15px 0;
        &:hover {
            background: #59cc00;
            color: #fff;
        }
    }
    .form-head {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .header-main, .header-sub {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        .header-main {
            font-weight: bold;
            font-size: 1.8rem;
            color: #3c3d41; 
        }
        .header-sub {
            font-size: .8rem;
            color: #6b6b6b;
            margin-top: -4px;
        }
    }
    .status-message {
        border: 1px solid #3b8d3a;
        display: inline-block;
        text-align: left;
        color: #fff;
        padding: 0 20px;
        margin-bottom: 10px;
        background: #3b8d3a;
    }
}
/*******************/
/* Loading Spinner */
/*******************/
form.form-global .loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #00ce07;
    width: 20px;
    height: 20px;
    animation: spin .50s linear infinite;
    position: relative;
    left: 6px;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
