#create-holes-forms {
	input {
		border-color: #000;
		box-shadow: none;
    	outline: none;
	}
	.add-holes {
		p {
		    font-weight: 600;
    		margin-bottom: 4px;
		}
		button {
		    margin-right: 20px;
		    padding: 2px 8px;
		    background: #5dff62;
		    color: #3d3e42;
		    outline: none;
		    border-color: #3d3e42;
		    transition: all 200ms;
		    &:hover {
				background: #00ff09;
		        box-shadow: 0px 0px 2px #000;
		    }
		}
	}
	.create-holes-submit {
		margin-top: 30px;
		background: #5dff62;
	    color: #3d3e42;
	    outline: none;
	    border-color: #3d3e42;
	    transition: all 200ms;
		font-size: 20px;
		&:hover {
			background: #00ff09;
	        box-shadow: 0px 0px 2px #000;
	    }
	}
	#holes-container {
		.course-holes-header {
			position: relative;
			margin-bottom: 15px;
		}
		.holes {
		    padding-top: 47px;
    		margin-top: 40px;
		}
		.fa-question-circle {
			position: absolute;
		    right: 104px;
		    top: 48px;
		    color: #b7babb;
		}
		.course-name-input {
			display: none;
		    position: absolute;
    		top: 0px;
		}
		.add-course-name-btn {
			position: absolute;
		    right: 0;
		    top: -40px;
		    font-size: 10px;
		    color: #000;
		    background: #eee;
		    line-height: 10px;
		    border: 1px solid #000;
		    padding: 3px 8px;
		    cursor: pointer;
		    transition: all 200ms;
		    &:hover {
		    	background: transparent;
		    }
		}
		.hole-group-container {
			position: relative;
			margin-bottom: 20px;
			/*.remove-hole-group-btn {
				position: absolute;
				top: 0;
				right: 15px;
				color: #000;
				cursor: pointer;
			}*/
		}
		input {
			/*font-size: .9rem;
			border: 0;
			border-bottom: 1px solid rgba(0,0,0,1);*/
		}
		.hole {
			.seperator {
				color: #ccd0d2;
			}
		}
	}
	.error-field {
		border-color: #f00 !important;
	}
}
/*BOOTSTRAP POPOVERS
.popover {
	border-radius: 4px;
}
.popover-title {
	font-size: 10px;
	padding: 5px;
}
.popover-content {
	font-size: 10px;
	padding: 5px;
}
*/