#create-course-form {
	.form-group {
		margin-bottom: 10px;
	}
	.form-control {
		font-size: 14px;
	}
	label {
		font-size: 13px;
		margin-bottom: 0;
	}
	.help-inline {
		color: #f00;
		border-color: #f00;
	}
}
#create-holes-form {
	.input-group {
		margin-bottom: 5px;
	}
}