#courseCreation {
	.form-group {
		margin-bottom: 10px;
	}
	.form-control {
		font-size: 14px;
	}
	label {
		font-size: 13px;
		margin-bottom: 0;
	}
	.help-inline {
		color: #f00;
		border-color: #f00;
	}
	.custom-select {
		margin: 0;
	}
	.input-group-addon {
	    min-width: 69px;
	    text-align: left;	
	}
	.tee-box-controller {
	    h4 {
	    	font-size: 13px;
	    	font-weight: bold;
	    }
	    .tee-box-selector {
		    padding: 5px;
		    margin-bottom: 5px;
		    background: #eeeeee;
		    color: #040000;
		    border: 1px solid #ababab;
		    transition: all 200ms;
		    cursor: pointer;
		    &:hover {
		    	border-color: #000;
		    };
		}
	}
	#holes {
		.tee-box {
			font-weight: bold;
		}
		.hole {
			margin-bottom: 3px;
		}
	}
	hr {
		margin-bottom: 0;
	}
}