#courseCreation {
	.form-control {
		height: 26px;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.form-control {
		font-size: 12px;
	}
	label {
		font-size: 13px;
		margin-bottom: 0;
	}
	.help-inline {
		color: #f00;
		border-color: #f00;
	}
}