body, html {
	background-color: #fff;
}
.pad0 {
	padding: 0 !important;
}
.caps {
	text-transform: capitalize;
}
.rtl3{
	border-top-left-radius: 3px !important;
}
.rtr3 {
	border-top-right-radius: 3px !important;
}
.rbl3 {
	border-bottom-left-radius: 3px !important;
}
.rbr3 {
	border-bottom-right-radius: 3px !important;
}