
body, html {
	background-color: #fff;
	font-size: 1rem;
	font-family: 'Kanit', sans-serif;
	// a1c45a, fff9e0, f1c550, ea4c4c
}
#app input, #app button, #app textarea {
	border-radius: 0;
	border: 0;
	outline: none;
}
a, a:hover, a:visited, a:focus {
	text-decoration: none;
	cursor: pointer;
}
/**************************/
/* Scrollbar-Track Styles */
/**************************/
::-webkit-scrollbar {
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
.errors {
	color: #d21717;
	font-size: .85rem;
}
::-webkit-input-placeholder { /* Chrome */
	color: #9e9e9e;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #9e9e9e;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #9e9e9e;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	color: #9e9e9e;
	opacity: 1;
}
/***********************/
/* Vue fade Transition */
/***********************/
.fade-enter-active, .fade-leave-active {
	transition-property: opacity;
	transition-duration: .20s;
}
.fade-enter-active {
	transition-delay: .20s;
}
.fade-enter, .fade-leave-active {
	opacity: 0
}


