body {
    position: relative;
}

/*FOOTER*/
#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
    margin-top: 30px;
    .footer-copyright {
        background-color: #333333;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    .fa-heart {
        color: #f00;
    }
    .row {
        margin-bottom: 30px;
    }
    .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }s
    .footer-copyright p {
        margin: 10px;
        color: #ccc;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    h5 {
        font-size: 23px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    h2 a{
        font-size: 50px;
        text-align: center;
        color: #fff;
    }
    a {
        color: #d2d1d1;
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: none;
            color: white;
        }
    }
    .logo {
        margin-top: 20px;
        margin-left: 20px;
    }
    .social-networks {
        text-align: center;
        padding-top: 30px;
        a {
            font-size: 32px;
            color: #f9f9f9;
            padding: 10px;
            transition: 0.2s;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .facebook:hover {
        color: #0077e2;
    }
    .google:hover {
        color: #ef1a1a;
    }
    .twitter:hover {
        color: #00aced;
    }
    .btn {
        color: white;
        background-color: transparent;
        border: 1px solid #fff;
        font-size: 16px;
        border-radius: 20px;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
        transition: 0.2s;
        &:hover {
            background-color: rgba(1, 212, 223, 0.98);
        }
    }
}

/*SLIDE-IN NAV // NAV HAMBURGER*/
.sidenav a:hover ,.sidebar a:focus{
    color: #fff;
}
.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #a0a0a0;
        display: block;
        transition: 0.3s
    }
    hr {
        margin: 5px 32px 5px 32px;
        border-color: #4c4c4c;
    }
}
.auth a {
    font-size: 16px;
    color: #fff;
}
#logout {
    color: #f00;
}
#hamburger {
    position: fixed;
    width: 40px;
    height: 41px;
    right: 15px;
    margin-top: 15px;
    z-index: 9999;
    span {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
}
/*Hamburger starting position*/
#hamburger span:nth-child(1) {
  top: 0px;
}
#hamburger span:nth-child(2) {
  top: 14px;
}
#hamburger span:nth-child(3) {
  top: 28px;
}
/*Hamburger animation*/
#hamburger.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#hamburger.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#main {
    position: relative;
    transition: margin-left .5s;
    padding-top: 65px;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.20);
    z-index: 8888;
    display: none;
    opacity: 0;
    -webkit-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;nsition: .25s ease-in-out;
}
/*Both triggered by jQuery*/
.navIn {
    width: 250px;
}
#overlay.overlay {
    display: block;
    opacity: 1;
}



/*ALL MEDIA QUERIES*/
@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}